.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(12, 12, 12, 0);
  color: white;
  z-index: 1000;

  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.navbar-option {
  width: 80px;
  height: 50px;
  background-color: rgba(24, 24, 24, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-content{
  display: flex;
  gap: 20px;
}

.contact-option {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 20px 10px;
  transition: background-color 0.3s ease;
}

.contact-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.contact-option span {
  font-size: 12px;
  color: #ddd;
}

