.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(12, 12, 12, 0);
  color: white;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.navbar-option {
  width: 80px;
  height: 50px;
  background-color: rgba(24, 24, 24, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}